 <div class="container">
                <div class="slider-words">
                    <div class="slider-row">
                        <div class="staticText" id="firsttxt">Where do you want to go <span id="hometoday">today?</span></div>
                        
                    </div>
                    <div class="slider-row">
                       <div class="staticText" id="statictoday">today?</div>
                        <div class="jSlots-wrapper"><ul class="empower" id="empower2" style="position: relative; top: -81px; width: 160px;">
                            <li class="text-orange"><span>Air travel</span></li>
                            <li class="text-green"><span>Road travel</span></li>
                            <li class="text-blue"><span>Rail travel</span></li>
                        <li class="text-orange"><span>Sea travel</span></li></ul></div>
                    </div>
                </div>
                <div class="btn-box"><a ng-href="#/schedule" class="btn btn-red">Schedule Trip</a></div>
                 
 <!--  <script src="js/main-script.js"></script>-->
	
            </div>
           