<style>
button.onlyright{margin-top: 20px; float: right;}
span.info{font-size: 12px;  color: #7a7676; display: inline-block; margin-bottom: 5px; text-align: right;}
.dataitem>span.datatitle{display: inline-block; font-weight: bold; margin-right: 10px; line-height: 16px; width:100px}	
.dataitem>span.datainfo{display: inline-block;  line-height: 20px;}	
.company-details{margin-left: 65px; max-height: 0px; overflow: hidden; -webkit-transition: all 0.5s; -moz-transition: all 0.5s;
    transition: all 0.5s;}
a.coyname{cursor: pointer;}	
.rightsearch{display: inline-block; float: right; margin-top: -5px;}
.rightsearch>input{font-weight: normal;}
button.smalledit{margin-left: -55px; border: 0; margin-top: 0px; background-color: rgba(255,255,255,0);}
button.smalledit:hover{background-color: rgba(255,255,255,0); color: #FF6C60;}
.smalledit.deletecoy{margin-left:0px;}
ul.goal-progress li{padding-bottom: 0px; margin-bottom: 0px; padding-top: 10px; max-height: 50px; margin-top: -20px;}
    
li.companylistitems{-webkit-transition: all 0.5s; -moz-transition: all 0.5s; transition: all 0.5s;}
    .profile-pic img
    {
        border-radius: 0px; -webkit-border-radius: 0px;
    }
</style>

 <!-- page heading start-->
        <div class="page-heading">
            <h3>
                User Management
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="#/">Home</a>
                </li>
                <li class="active"> User Management</li>
            </ul>
            <div class="state-info">
               
            </div>
        </div>
        <!-- page heading end-->

        <!--body wrapper start-->
        <div class="wrapper">
           
            <div class="row" id="MainView">
            	 <div class="col-md-12">
                    <div class="panel">
                        <header class="panel-heading" id="AddSection">
                            Create User                           
                        </header>
                        <div class="panel-body" style="padding-left: 15px; padding-right: 15px;">
                          <form class="form-horizontal" role="form">
                              <div class="row">
                                  <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                    <div class="form-group">
                                        <label  class="col-lg-3 col-sm-12 control-label">Passport</label>
                                        <div class="col-lg-12 dropzones" id="LogoDropZone">
                                            <img alt="" id="profilepic" style="margin-left: 0px; float: left;" class="sane-image" src="images/upload_photo.jpg">
                                        </div>
                                    </div>
                                 </div>
                                  <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
                                    <div class="form-group">
                                        <label  class="col-lg-3 col-sm-12 control-label">Signature</label>
                                        <div class="col-lg-12 dropzones" id="SignDropZone">
                                            <img alt="" id="signature" style="margin-left: 0px;width: 200px; " class="sane-image" src="images/upload_signature.jpg">
                                        </div>
                                    </div>
                                  </div>
                              </div>
                              <!-- End of Photo and signature row -->
                              <div class="row">
                                  <div class="col-sm-12 col-md-5 col-lg-4">
                                      <div class="form-group">
                                             <div class="col-sm-12" >
                                                 <label class="icheck-wrap">
                                                     <input id="ChkPortalAdmin" type="checkbox"  />
                                                     Portal Administrator
                                                 </label>
                                                 <label class="icheck-wrap" ng-show="user.IsSuperUser">
                                                     <input id="ChkSuperUser" type="checkbox"  />
                                                     Super User </label>
                                                 <hr />
                                             </div>
                                         </div>
                                        <div class="form-group">
                                            <label  class="col-lg-3 col-md-3 col-sm-12 control-label">Staff Code</label>
                                            <div class="col-lg-9 col-md-9 col-sm-12">
                                                <input type="text" class="form-control"  placeholder="staff code" ng-model="NewAccount.StaffCode">
                                            </div>
                                        </div>

                                       <div class="form-group">
                                            <label  class="col-lg-3 col-md-3 col-sm-12 control-label">Surname</label>
                                            <div class="col-lg-9 col-md-9 col-sm-12">
                                                <input type="text" class="form-control"  placeholder="surname" ng-model="NewAccount.surname">
                                            </div>
                                        </div>

                                           <div class="form-group">
                                            <label  class="col-lg-3 col-md-3 col-sm-12 control-label">Othernames</label>
                                            <div class="col-lg-9 col-md-9 col-sm-12">
                                                <input type="text" class="form-control"  placeholder="othernames" ng-model="NewAccount.othernames">
                                            </div>
                                        </div>
                                          <div class="form-group">
                                            <label  class="col-lg-3 col-md-3 col-sm-12 control-label">Phone</label>
                                            <div class="col-lg-9 col-md-9 col-sm-12">
                                                <input type="text" class="form-control numericonly"  placeholder="mobile number" ng-model="NewAccount.phonenumber">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label  class="col-lg-3 col-md-3 col-sm-12 control-label">Email</label>
                                            <div class="col-lg-9 col-md-9 col-sm-12">
                                                <input type="text" class="form-control"  placeholder="email address" ng-model="NewAccount.email">
                                            </div>
                                        </div>
                                      
                                  </div>

                                  <div class="col-sm-12 col-md-7 col-lg-5">
                                             <div class="form-group">
                                                <label  class="col-lg-3 col-md-3 col-sm-12 control-label">Branch</label>
                                                <div class="col-lg-9 col-md-9 col-sm-12 chosen-wrapper">
                                                    <select data-placeholder="" class="chosen-select" id="selBranch">
                                                        <option value="-"></option>
                                                        <option ng-repeat="a in branches" value="{{a.Id}}">{{a.BranchName}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                                <div class="form-group">
                                                <label  class="col-lg-3 col-md-3 col-sm-12 control-label">Department</label>
                                                <div class="col-lg-9 col-md-9 col-sm-12 chosen-wrapper">
                                                    <select data-placeholder="" class="chosen-select" id="SelDepartment">
                                                        <option value="-"></option>
                                                        <option ng-repeat="b in BranchDepartments" value="{{b.Id}}">{{b.DepartmentName}}</option>
                                                    </select>
                                                </div>
                                            </div> 
                                
                                            <div class="form-group">
                                                <label  class="col-lg-3 col-md-3 col-sm-12 control-label">Address Line 1</label>
                                                <div class="col-lg-9 col-md-9 col-sm-12">
                                                    <input type="text" class="form-control"  placeholder="street address line 1" ng-model="NewAccount.Address">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label  class="col-lg-3 col-md-3 col-sm-12 control-label">Address Line 2</label>
                                                <div class="col-lg-9 col-md-9 col-sm-12">
                                                    <input type="text" class="form-control"  placeholder="street address line 2" ng-model="NewAccount.AddressStreet">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label  class="col-lg-3 col-md-3 col-sm-12 control-label">City</label>
                                                <div class="col-lg-9 col-md-9 col-sm-12">
                                                    <input type="text" class="form-control"  placeholder="address city" ng-model="NewAccount.AddressCity">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <hr />
                                                <label  class="col-lg-3 col-md-3 col-sm-12 control-label">Roles</label>
                                                <div class="col-lg-9 col-md-9 col-sm-12 chosen-wrapper">
                                                    <select multiple data-placeholder="Select roles ..." class="chosen-select" id="SelRoles">
                                                        <option value="-"></option>
                                                        <option class="add-permission" ng-repeat="r in Roles" value="{{r.Id}}">{{r.RoleName}}</option>
                                                        </select>
                                                </div>
                                            </div> 
                                            <div class="form-group">
                                                <div class="col-lg-12">
                                                    <button class="btn btn-info onlyright" type="button" ng-click="CreateUser()"><i class="fa fa-save"></i> Create User</button>   
                                                </div>
                                            </div>
                                  </div>
                              </div>
                          </form>
     
                        </div>
                    </div>
                </div>

            <div class="col-md-12">
                    <div class="panel" >
                    <header class="panel-heading">
                            Users list
                            </header>
                        <div class="panel-body" >
                           
                            <div class="row">
                                <div class="col-md-12">
                                    <table  id="tblUsers" class="table table-striped table-hover dataTable" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th style="width: 25px !important;"></th>
                                                <th></th>
                                                <th>Code</th>
                                                <th>Surname</th>
                                                <th>Othernames</th>
                                                <th>Email</th>
                                                <th>Mobile</th>
                                                <th>Branch</th>
                                                <th>Department</th>
                                            </tr>
                                        </thead>

                                    </table>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

          
            <div class="row" id="EditView">
             <div class="col-md-12">
                    <div class="panel">
                        <header class="panel-heading">
                            Edit User
                        </header>
                       <div class="panel-body" style="padding-left: 15px; padding-right: 15px;">
                          <form class="form-horizontal" role="form">
                               <div class="row">
                                  <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                    <div class="form-group">
                                        <label  class="col-lg-3 col-sm-12 control-label">Passport</label>
                                        <div class="col-lg-12 dropzones" id="Div3">
                                            <img alt="" id="ImgEditPassport" style="margin-left: 0px; float: left;" class="sane-image">
                                        </div>
                                    </div>
                                 </div>
                                  <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
                                    <div class="form-group">
                                        <label  class="col-lg-3 col-sm-12 control-label">Signature</label>
                                        <div class="col-lg-12 dropzones" id="Div4">
                                            <img alt="" id="ImgEditSignature" style="margin-left: 0px; height: auto; width: 200px; " class="sane-image">
                                        </div>
                                    </div>
                                  </div>
                              </div>
                              <!-- End of Photo and signature row -->
                              <div class="row">
                                  <div class="col-sm-12 col-md-5 col-lg-4">
                                       <div class="form-group">
                                            <label  class="col-lg-3 col-md-3 col-sm-3 col-xs-4 control-label" style="max-width:100px !important;">Status</label>
                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-8">
                                                <input id="ChkIsActive" class="ios-switch" type="checkbox" />
                                                <span class="label label-default" style="position: relative;top: -12px;left: 20px;">..</span>
                                            </div>
                                        </div>
                                      <div class="form-group">
                                             <div class="col-sm-12" >
                                                 <label class="icheck-wrap">
                                                     <input id="ChkEditPortalAdmin" type="checkbox"  />
                                                     Portal Administrator
                                                 </label>
                                                 <label class="icheck-wrap" ng-show="user.IsSuperUser">
                                                     <input id="ChkEditSuperUser" type="checkbox"  />
                                                     Super User </label>
                                                 <hr />
                                             </div>
                                         </div>
                                        <div class="form-group">
                                            <label  class="col-lg-3 col-md-3 col-sm-12 control-label">Staff Code</label>
                                            <div class="col-lg-9 col-md-9 col-sm-12">
                                                <input type="text" class="form-control" placeholder="staff code" ng-model="EditUser.StaffCode">
                                            </div>
                                        </div>

                                       <div class="form-group">
                                            <label  class="col-lg-3 col-md-3 col-sm-12 control-label">Surname</label>
                                            <div class="col-lg-9 col-md-9 col-sm-12">
                                                <input type="text" class="form-control"  placeholder="surname" ng-model="EditUser.SurName">
                                            </div>
                                        </div>

                                           <div class="form-group">
                                            <label  class="col-lg-3 col-md-3 col-sm-12 control-label">Othernames</label>
                                            <div class="col-lg-9 col-md-9 col-sm-12">
                                                <input type="text" class="form-control"  placeholder="othernames" ng-model="EditUser.OtherNames">
                                            </div>
                                        </div>
                                          <div class="form-group">
                                            <label  class="col-lg-3 col-md-3 col-sm-12 control-label">Phone</label>
                                            <div class="col-lg-9 col-md-9 col-sm-12">
                                                <input type="text" class="form-control numericonly"  placeholder="mobile number" ng-model="EditUser.Mobile">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label  class="col-lg-3 col-md-3 col-sm-12 control-label">Email</label>
                                            <div class="col-lg-9 col-md-9 col-sm-12">
                                                <input type="text" class="form-control" readonly  placeholder="email address" ng-model="EditUser.Email">
                                            </div>
                                        </div>
                                  </div>

                                  <div class="col-sm-12 col-md-7 col-lg-5">
                                             <div class="form-group">
                                                <label  class="col-lg-3 col-md-3 col-sm-12 control-label">Branch</label>
                                                <div class="col-lg-9 col-md-9 col-sm-12 chosen-wrapper">
                                                    <select data-placeholder="" class="chosen-select" id="SelEditBranch">
                                                        <option value="-"></option>
                                                        <option ng-repeat="a in branches" value="{{a.Id}}">{{a.BranchName}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                                <div class="form-group">
                                                <label  class="col-lg-3 col-md-3 col-sm-12 control-label">Department</label>
                                                <div class="col-lg-9 col-md-9 col-sm-12 chosen-wrapper">
                                                    <select data-placeholder="" class="chosen-select" id="SelEditDepartment">
                                                        <option value="-"></option>
                                                        <option ng-repeat="b in BranchDepartments" value="{{b.Id}}">{{b.DepartmentName}}</option>
                                                    </select>
                                                </div>
                                            </div> 
                                
                                            <div class="form-group">
                                                <label  class="col-lg-3 col-md-3 col-sm-12 control-label">Address Line 1</label>
                                                <div class="col-lg-9 col-md-9 col-sm-12">
                                                    <input type="text" class="form-control"  placeholder="street address line 1" ng-model="EditUser.AddressLine1">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label  class="col-lg-3 col-md-3 col-sm-12 control-label">Address Line 2</label>
                                                <div class="col-lg-9 col-md-9 col-sm-12">
                                                    <input type="text" class="form-control"  placeholder="street address line 2" ng-model="EditUser.AddressStreet">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label  class="col-lg-3 col-md-3 col-sm-12 control-label">City</label>
                                                <div class="col-lg-9 col-md-9 col-sm-12">
                                                    <input type="text" class="form-control"  placeholder="address city" ng-model="EditUser.AddressCity">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <hr />
                                                <label  class="col-lg-3 col-md-3 col-sm-12 control-label">Roles</label>
                                                <div class="col-lg-9 col-md-9 col-sm-12 chosen-wrapper">
                                                    <select multiple data-placeholder="Select roles ..." class="chosen-select" id="SelEditRoles">
                                                        <option value="-"></option>
                                                        <option class="add-permission edit-mapping" ng-repeat="r in Roles" value="{{r.Id}}">{{r.RoleName}}</option>
                                                        </select>
                                                </div>
                                            </div> 
                                            <div class="form-group">
                                                <div class="col-lg-12">
                                                    <button class="btn btn-info onlyright" type="button" ng-click="DeleteUser(EditUser.Id)"><i class="fa fa-close"></i> Delete User</button>
                                                    <button class="btn btn-success onlyright" type="button" ng-click="SubmitEditUser()"><i class="fa fa-save"></i> Modify</button>
                                                    <button class="btn btn-default onlyright" type="button" ng-click="ExitEdit()"><i class="fa fa-undo"></i> Return</button>
                            
                                                </div>
                                            </div>
                                  </div>
                              </div>
                           
                          </form>
                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--body wrapper end-->